<div class="panel panel-success">
  <div class="panel-heading">Employees List</div>
  <div class="panel-body">
    <button class="btn btn-success" type="button" ng-click="addEmployee()">Add employee</button>
    <table class="table">
      <thead>
        <tr class="thead">
          <th>Name</th>
          <th>Start Time</th>
          <th>Finish Time</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employees">
          <td><a href="#!/{{employee._id}}" ng-click="setEmployeeName(employee)">{{employee.name}}</a></td>
          <td>{{employee.startTime}}</td>
          <td>{{employee.finishTime}}</td>
          <td><button class="btn btn-warning" type="button" ng-click="editEmployee(employee)">Edit</button></td>
          <td><button class="btn btn-danger" type="button" ng-click="deleteEmployee(employee._id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>