<div  class="panel panel-success">
  <div class="panel-heading"><a href="/">Back To Employees List</a></div>
  <div class="panel-body">
    <h1 ng-model="name">{{name}}</h1>
    <button class="btn btn-success" type="button" ng-click="addSubordinate()">Add subordinate</button>
    <p>Subordinates:</p>
    <ul class="list-group col-sm-5">
      <li class="list-group-item" ng-repeat="subordinate in subordinates">
        {{subordinate}}
        <button class="btn btn-danger" type="button" ng-click="deleteSubordinate(subordinate)">Delete</button>
      </li>
      
    </ul>
  </div>
</div>